body{
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  background-repeat: no-repeat;
  font-size: 12px;
  font-family: "Kumbh Sans";
}

.container{
  width: 65rem;
  height: 32rem;
  display: flex;
  background-color: white;
  display: grid;
  grid-template-columns: 5fr 1fr 5fr 1fr;
  grid-template-rows: 2fr 3fr repeat(5, 1fr) 2fr;
  border: none;
  border-radius: 25px;
  margin: 0 auto;
  position: relative;
  bottom: 7rem;
}

/*elements left column*/

.left{
  grid-column: 1/ span 1;
  grid-row: 1/ span 8;
  background-image: url(images/bg-pattern-desktop.svg);
  background-position: bottom 4rem right 1rem;
  background-size: 120%;
  background-repeat: no-repeat;
  overflow: hidden;
}

.left img {
  position: relative;
  top: 3rem;
  right: 5rem;
}

#würfel{
  position: relative;
  top: 16rem;
  left: 8rem;
  z-index: 1;
}

/*elements right column*/

.right{
  grid-column: 3/ span 1;
  grid-row: 2/ span 6;
}

.right p{
  visibility: hidden;
}

#heading{
  position: relative;
  bottom: 2rem;
}

.dropdown{
  display: flex;
  flex-wrap: nowrap;
}

#dropdown_1{
  position: relative;
  bottom: 2rem;
}

#dropdown_2{
  position: relative;
  bottom: 4rem;
}

#dropdown_3{
  position: relative;
  bottom: 6rem;
}

#dropdown_4{
  position: relative;
  bottom: 8rem;
}

#dropdown_5{
  position: relative;
  bottom: 10rem;
}

.dropdown img{
  height: 1rem;
}

.right h1{
  font-size: 2rem;
}

.right h2{
  color: hsl(237, 12%, 33%);
  font-weight: 400;
}
