body{
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 12px;
  font-family: "Kumbh Sans";
}

.container{
  width: 65rem;
  height: 32rem;
  display: flex;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  border: none;
  border-radius: 25px;
  margin: 0 auto;
}

/*elements left column*/

.left{
  grid-column: 1/ span 1;
  grid-row: 1/ span 1;
  background-image: url(images/bg-pattern-desktop.svg);
  background-position: bottom 1rem right 8rem;
  background-size: 140%;
  background-repeat: no-repeat;
}

.imageBorder{
  overflow: hidden;
  height: 100%;
  z-index: 0;
}
#girl {
  position: relative;
  top: 3rem;
  right: 5rem;
  z-index: 0;

}

#würfel{
  position: relative;
  bottom: 23rem;
  right: 7rem;
  z-index: 1;
}

/*elements right column*/

.right{
  grid-column: 2/ span 1;
  grid-row: 1/ span 1;
  position: relative;
  left: 2rem;
}

#heading{
  position: relative;
  top: 2rem;
}

.dropdown{
  border-bottom: 1.2px solid hsl(240, 5%, 91%);
  position: relative;
  top: 2rem;
  display: inline-flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}


.dropdown img{
  height: .6rem;
}

.right h1{
  font-size: 2rem;
}

.right h2{
  color: hsl(237, 12%, 33%);
  font-weight: 400;
}

.right p{
  display:none;
}
